#mobile-menu {
  background-color: rgba(0, 0, 0); /* Warna latar belakang menu */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem; /* Lebar menu */
  z-index: 50; /* Z-index agar menutupi konten lain */
  transform: translateX(-100%); /* Menu default tersembunyi */
  transition: transform 0.3s ease;
}

#mobile-menu.show {
  transform: translateX(0); /* Menu muncul saat class show ditambahkan */
}

#hamburger-btn {
  position: absolute;
  left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Warna hitam transparan */
  z-index: 49; /* Z-index harus lebih rendah dari menu untuk mengklik konten di bawah */
  display: none; /* Defaultnya tidak ditampilkan */
}

.overlay.show {
  display: block; /* Tampilkan overlay saat menu terbuka */
}


